.angular-dnd-resizable-handle {
    position: absolute;
    display: block;
}
.angular-dnd-disabled .ui-resizable-handle,
.angular-dnd-autohide .ui-resizable-handle {
    display: none;
}
.angular-dnd-resizable-handle-n {
    cursor: pointer;
    height: 7px;
    width: 100%;
    top: 0px;
    left: 0;
}
.angular-dnd-resizable-handle-s {
    cursor: pointer;
    height: 7px;
    width: 100%;
    bottom: 0px;
    left: 0;
}
.angular-dnd-resizable-handle-e {
    cursor: pointer;
    width: 7px;
    right: 0px;
    top: 0;
    height: 100%;
}
.angular-dnd-resizable-handle-w {
    cursor: pointer;
    width: 7px;
    left: 0px;
    top: 0;
    height: 100%;
}
.angular-dnd-resizable-handle-se {
    cursor: pointer;
    width: 12px;
    height: 12px;
    right: 0px;
    bottom: 0px;
}
.angular-dnd-resizable-handle-sw {
    cursor: pointer;
    width: 12px;
    height: 12px;
    left: 0px;
    bottom: 0px;
}

.angular-dnd-resizable-handle-nw {
    cursor: pointer;
    width: 12px;
    height: 12px;
    left: 0px;
    top: 0px;
}

.angular-dnd-resizable-handle-ne {
    cursor: pointer;
    width: 12px;
    height: 12px;
    right: 0px;
    top: 0px;
}

.angular-dnd-rotatable-handle {
    display: block;
    position: absolute;
    top:-10px;
    left:-10px;
    width:10px;
    height:10px;
    background:#ccc;
    border-radius:50%;
}

.angular-dnd-lasso {
    position: absolute;
    border: 1px solid rgba(108, 152, 197, 0.73);
    background: rgba(108, 152, 197, 0.27);
    box-sizing: border-box;
}

.angular-dnd-draggable-helper {
    opacity: .5;
}

.angular-dnd-placeholder {
    opacity: .5;
}
